# Carpetas de configuración de Visual Studio
.vs/
out/
build/

# Carpetas de compilación (donde se crean los .exe y .obj)

Debug/
Release/
x64/
x86/

# Archivos de usuario y temporales
*.user
*.aps
*.pdb
*.ipch
*.db
*.opendb